:root{
    --accent:#0b84ff;
    --bg:#f7f9fc;
    --card:#ffffff;

}
*{
    box-sizing: border-box;
}
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: 0;
    background: var(--bg);
    color: #0b2545;
    background-color: antiquewhite;
}
/* Contenu Principal */
.container{
    display: flex;
    gap: 20px;
}
/* Responsive pour téléphone */
@media(max-width: 768px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    .project{
        width: 100%;
    }
    .menu-toggle{
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav ul.active{
        display: flex;
    }
}
/* Style du buton hamburge */
.menu-toggle{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
}
.menu-toggle span{
    display: block;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
}
/* Hedder */
header{
    background: var(--card);
    box-shadow: 0 2px 6px rgba(11, 36, 69, 0.06);
}
nav{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
}
nav h1{
    font-size: 18px;
    margin: 0;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 18px;
    padding: 0;
    margin: 0;
}
nav a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}
/* Hero */
.hero{
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(90deg,#eef7ff,#ffffff 100%);
}
.hero h2{
    font-size: 32px;
    margin: 0;
}
.hero h2 span{
    color: var(--accent);
}
.hero p{
    margin: 12px 0 20px;
    color: #334155;
}
.btn{
    display: inline-block;
    padding: 10px 18px;
    background: var(--accent);
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}
/* Section */
section{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}
h2{
    font-size: 20px;
    margin-bottom: 12px;
}
/* Skills */
.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 12px;
}
.skill{
    background:var(--accent);
    padding: 14px;
    border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    box-shadow: 0 2px 6px rgba(11, 36, 69, 0.04);
}
/* Projets */
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
}
.project-card{
    background:var(--accent);
    padding: 18px;
    color: whitesmoke;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(11, 36, 69, 0.06);
}
/* Footer */
footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: #64748b;
}
a.small{
    color: var(--accent);
    text-decoration: none;
}